In [1]:
!pip3 install pandas numpy plotly

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (4.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)

In [0]:
import pandas as pd

import numpy as np
base="https://gist.githubusercontent.com/alti-tude/710cb9d4dfc7ebcd0afb9cf93d8f6a8d/raw/574730ba009e69b81d6c79f2fef2c3dd5145db0a/"

In [3]:
music_df=pd.read_csv(base+"MusicTop50.csv",index_col=0)
music_df.head(5)

                        Track.Name    Artist.Name  ... Speechiness  Popularity
1                         Se�orita   Shawn Mendes  ...           3        79.0
2                            China       Anuel AA  ...           9        92.0
3    boyfriend (with Social House)  Ariana Grande  ...          46        85.0
4  Beautiful People (feat. Khalid)     Ed Sheeran  ...          19        86.0
5      Goodbyes (Feat. Young Thug)    Post Malone  ...           7        94.0

[5 rows x 13 columns]

In [4]:
music_df.tail(5)

                                       Track.Name  ... Popularity
46                                One Thing Right  ...       88.0
47                                      Te Robar�  ...       88.0
48                                        Happier  ...       88.0
49                                  Call You Mine  ...       88.0
50  Cross Me (feat. Chance the Rapper & PnB Rock)  ...       82.0

[5 rows x 13 columns]

In [0]:
music_df=music_df.rename(columns={"Track.Name": "Track_Name", "Artist.Name": "Artist_Name","Beats.Per.Minute":"BPM","Danceability..db..":"Danceability","Loudness..":"Loudness","Liveness.":"Liveness","Valence ()":"Valence"})

In [6]:
print(music_df.info())
music_df.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Track_Name    50 non-null     object
 1   Artist_Name   50 non-null     object
 2   Genre         50 non-null     object
 3   BPM           48 non-null     float64
 4   Energy        49 non-null     float64
 5   Danceability  50 non-null     int64
 6   Loudness      50 non-null     int64
 7   Liveness      48 non-null     float64
 8   Valence       49 non-null     float64
 9   Length        47 non-null     float64
 10  Acousticness  50 non-null     int64
 11  Speechiness   50 non-null     int64
 12  Popularity    49 non-null     float64
dtypes: float64(6), int64(4), object(3)
memory usage: 5.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 1 to 50
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Track_Name    41 non-null     object
 1   Artist_Name   41 non-null     object
 2   Genre         41 non-null     object
 3   BPM           41 non-null     float64
 4   Energy        41 non-null     float64
 5   Danceability  41 non-null     int64
 6   Loudness      41 non-null     int64
 7   Liveness      41 non-null     float64
 8   Valence       41 non-null     float64
 9   Length        41 non-null     float64
 10  Acousticness  41 non-null     int64
 11  Speechiness   41 non-null     int64
 12  Popularity    41 non-null     float64
dtypes: float64(6), int64(4), object(3)
memory usage: 4.5+ KB

In [0]:
Liveness=music_df['Liveness']
Liveness.fillna(Liveness.mean(),inplace=True)
Liveness.fillna(Liveness.median(),inplace=True)

In [8]:
minpop=music_df['Popularity'].min()
print(minpop)
name=music_df[music_df["Popularity"]==minpop]
print(name)
shawnsongs=music_df[music_df["Artist_Name"]=="Shawn Mendes"]
shawnsongs[shawnsongs["Loudness"]==shawnsongs["Loudness"].max()]

70.0
             Track_Name   Artist_Name  ... Speechiness  Popularity
26  If I Can't Have You  Shawn Mendes  ...           6        70.0

[1 rows x 13 columns]

             Track_Name   Artist_Name  ... Speechiness  Popularity
26  If I Can't Have You  Shawn Mendes  ...           6        70.0

[1 rows x 13 columns]